<div class="gallery-banner">
    <div class="gallery-banner-bar" style="height: {{barHeight}}px;"></div>
    <div class="gallery-banner-container">
        {{#each images}}
        <div class="gallery-banner-item" style="width: {{../photoEdgeLength}}px; height: {{../photoEdgeLength}}px;">
            <img src="{{this.path}}" alt="{{this.alt}}" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        {{/each}}
    </div>
</div>