<div class="menu-card">
    <div class="menu-card-photo" style="height: {{photoHeight}}px; width: {{photoWidth}}px;">
        <a href="{{route}}">
            <img src="{{image.path}}" alt="{{image.alt}}" style="height: 100%; width: 100%; object-fit: cover;">
        </a>
    </div>
    <div class="menu-card-title">
        <h3>{{title}}</h3>
    </div>
    <div class="menu-card-button">
        <a href="{{route}}" class="btn">{{buttonTitle}}</a>
    </div>
</div>