<div class="type-intro" style="width: {{width}}px; height: {{height}}px;">
    <div class="type-intro-left" style="padding-left: {{leftPadding}}px;">
        <h1>{{title}}</h1>
    </div>
    <div class="type-intro-right">
        <p>{{{description}}}</p>
    </div>
</div> 